<style>
    table, tr, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 10px;
        text-align: center;
        max-width: 100vw;
    }
</style>

<table>
    <tbody>
    {% for key, value in data %}
        <tr>
            <td>{{ key }}</td>
            <td>{% if value is not iterable %}{{ value }}{% else %} {{ value|json_encode }}{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>