<!DOCTYPE html>
<html lang="en" class="bg-white">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}NFC Attendance{% endblock %}</title>
    <link rel="stylesheet" href="{{ css('output.css') }}">
</head>
<body class="min-h-screen dark:bg-slate-800">
<!-- Announcements Section -->
<div class="container mx-auto p-4">
    <!-- Top Navigation Bar -->
    <nav class="bg-slate-800 p-4 text-gray-200 flex justify-between items-center">
        <!-- Left side - Banner -->
        <div>
            <a href="/">
                <img class="h-12 w-auto" src="{{ img('banner_white.png') }}" alt="NFC Attendance">
            </a>
        </div>

        <!-- Right side - Login/Register links -->
        <div id="navbar-collapse-with-animation" class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow sm:block">

{#            <div class="flex flex-col gap-5 mt-5 sm:flex-row sm:items-center sm:justify-end sm:mt-0 sm:ps-5">#}
{#                <a class="font-semibold text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-1 focus:ring-gray-600" href="users_admin.html">users_admin</a>#}
{#                <a class="font-semibold text-white focus:outline-none focus:ring-1 focus:ring-gray-600" href="/" aria-current="page">Home</a>#}
{#                <a class="font-semibold text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-1 focus:ring-gray-600" href="login">Login</a>#}
{#                <a class="font-semibold text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-1 focus:ring-gray-600" href="register">Register</a>#}
{#            </div>#}

            {% if app.loggedIn %}
                <div class="flex flex-col gap-5 mt-5 sm:flex-row sm:items-center sm:justify-end sm:mt-0 sm:ps-5">
                    <a class="font-semibold text-white focus:outline-none focus:ring-1 focus:ring-gray-600" href="/" aria-current="page">Home</a>
                    <a class="font-semibold text-white focus:outline-none focus:ring-1 focus:ring-gray-600" href="/logout" aria-current="page">Logout</a>
                </div>
            {% else %}
                <div class="flex flex-col gap-5 mt-5 sm:flex-row sm:items-center sm:justify-end sm:mt-0 sm:ps-5">
                    {# <a class="font-semibold text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-1 focus:ring-gray-600" href="users_admin.html">users_admin</a> #}
                    <a class="font-semibold text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-1 focus:ring-gray-600" href="login">Login</a>
                    <a class="font-semibold text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-1 focus:ring-gray-600" href="register">Register</a>
                </div>
            {% endif %}

        </div>

    </nav>

    <!-- Horizontal Line -->
    <hr class="my-3 mb-10 border-gray-300 dark:border-gray-600">
    {% block content %} {% endblock %}
    {#    <h2 class="text-3xl font-bold text-center mb-6 text-white">Users</h2>#}
</div>
</body>
</html>
