<style>
    table, tr, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 10px;
        text-align: center;
        max-width: 100vw;
    }

    .content-start {
        text-align: left;
    }
</style>

<table>
    <thead>
        <th>Title</th>
        <th>Announcement</th>
    </thead>
    <tbody>
        {% for announcement in announcements %}
            {% if announcement[0] is not empty and announcement[1] is not empty %}
                <tr>
                    <td>{{ announcement[0] }}</td>
                    <td class="content-start">{{ announcement[1]|raw }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>