{% extends 'user_layout.twig' %}

{% block title %}Lupa Kata Laluan{% endblock %}
{% block content %}
    <h1 class="dark:text-gray-300 text-lg text-gray-700">Sila memberitahu admin tentang hal ini. <a class="c-links" href="{{ backlink() }}">Balik</a></h1>
{% endblock %}