{% extends 'user_layout.twig' %}

{% block title %}Forgot Password{% endblock %}
{% block content %}
    <h1 class="text-gray-300 text-lg">Please contact an admin for forgetting password. <a class="c-links" href="{{ backlink() }}">Back</a></h1>
{% endblock %}