{% extends 'user_layout.twig' %}

{% block title %}Home Page{% endblock %}
{% block content %}
    <pre class="text-gray-50">{{ dump(app.session.getSession) }}</pre>

    <h2 class="text-3xl font-bold text-center mb-6 text-white">Announcements</h2>

   <!-- Announcement Boxes -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        <!-- Announcement 1 -->
        <div class="bg-gray-300 bg-opacity-75 p-4 rounded-md">
            <h3 class="text-xl font-bold mb-2 text-black">Pengesahan Dan Rayuan Markah</h3>
            <p class="text-sm text-gray-800 mb-2">Date Posted: January 9, 2024</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nulla vitae consectetur sagittis, justo eros dictum nunc, vel euismod metus sem eget purus.</p>
        </div>

        <!-- Announcement 2 -->
        <div class="bg-gray-300 bg-opacity-75 p-4 rounded-md">
            <h3 class="text-xl font-bold mb-2 text-black">Announcement Title 2</h3>
            <p class="text-sm text-gray-800 mb-2">Date Posted: January 2, 2024</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nulla vitae consectetur sagittis, justo eros dictum nunc, vel euismod metus sem eget purus.</p>
        </div>

        <!-- Announcement 3 -->
        <div class="bg-gray-300 bg-opacity-75 p-4 rounded-md">
            <h3 class="text-xl font-bold mb-2 text-black">Announcement Title 3</h3>
            <p class="text-sm text-gray-800 mb-2">Date Posted: January 3, 2024</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nulla vitae consectetur sagittis, justo eros dictum nunc, vel euismod metus sem eget purus.</p>
        </div>

        <!-- Announcement 4 -->
        <div class="bg-gray-300 bg-opacity-75 p-4 rounded-md">
            <h3 class="text-xl font-bold mb-2 text-black">Announcement Title 4</h3>
            <p class="text-sm text-gray-800 mb-2">Date Posted: January 4, 2024</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nulla vitae consectetur sagittis, justo eros dictum nunc, vel euismod metus sem eget purus.</p>
        </div>

        <!-- Announcement 5 -->
        <div class="bg-gray-300 bg-opacity-75 p-4 rounded-md">
            <h3 class="text-xl font-bold mb-2 text-black">Announcement Title 5</h3>
            <p class="text-sm text-gray-800 mb-2">Date Posted: January 5, 2024</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nulla vitae consectetur sagittis, justo eros dictum nunc, vel euismod metus sem eget purus.</p>
        </div>
    </div>
{% endblock %}