RewriteEngine on
Options +Multiviews

# Error Documents
ErrorDocument 400 /index.php
ErrorDocument 401 /index.php
ErrorDocument 403 /index.php
ErrorDocument 404 /index.php
ErrorDocument 500 /index.php

# Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>

# Prevent directory listings
Options All -Indexes

# Redirecting Conditions
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d [OR]
#RewriteCond %{REQUEST_FILENAME} -d
#RewriteRule .(js|css|ico|gif|jpg|png)$ assets.php [NC]
#RewriteRule !.(js|css|ico|gif|jpg|png)$ index.php [NC]

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule \.(js|css|ico|gif|jpg|png)$ assets.php [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [NC,L]

# Cache Settings
#<FilesMatch "\.(jpg|jpeg|png|gif|swf|css|js)$">
#    Header set Cache-Control "max-age=31536000000, public"
#</FilesMatch>

#RewriteRule ^product/([0-9]+)$ viewProduct.php?id=$1 [NC]